<launch>
  <arg name="calibration_file"
       default="$(find grasp_multicam)/current/calib.yaml"/>

  <arg name="fixed_frame_id" default="vision"/>
  <arg name="cam_frame_id" default="ovc/cam_0"/>
  
  <arg name="camera" default="ovc"/>
  <arg name="imu_topic"       default="$(arg camera)/imu"/>
  <arg name="left_cam_topic"  default="$(arg camera)/cam_0/image_raw"/>
  <arg name="right_cam_topic" default="$(arg camera)/cam_1/image_raw"/>
  <arg name="frame_rate"      default="20"/>

  <!-- visual loop closure nodelet
  <node pkg="nodelet" type="nodelet" name="vlc"
	args="standalone vision_loop_closure/VisionLoopClosureNodelet"
	output="screen">
 -->
  <node pkg="vision_loop_closure" type="vision_loop_closure_node" name="vlc"
	output="screen">
    <rosparam command="load" file="$(arg calibration_file)"/>
    <param name="fixed_frame_id" type="str" value="$(arg fixed_frame_id)"/>
    <param name="cam_frame_id" type="str" value="$(arg cam_frame_id)"/>

    <param name="loop_closure_detection/match_num_th" type="int" value="10"/>
    <param name="loop_closure_detection/match_ratio_th" type="double" value="0.3"/>
    <param name="loop_closure_detection/match_sigma_th" type="double" value="50.0"/>
    <param name="loop_closure_detection/distance_th" type="double" value="1.0"/>
    <param name="loop_closure_detection/time_th" type="double" value="5.0"/>

    <param name="keyframe_initialization/distance_th" type="double" value="2.0"/>
    <param name="keyframe_initialization/angle_th" type="double" value="0.20"/>

    <param name="ransac_th" type="double" value="1.0"/>

    <rosparam param="odom_noise">[0.2, 0.2, 0.2, 0.2, 0.2, 0.2]</rosparam>
    <rosparam param="loop_closure_noise">[0.2, 0.2, 0.2, 1, 1, 1]</rosparam>

    <remap from="~cam0_image" to="$(arg left_cam_topic)"/>
    <remap from="~cam1_image" to="$(arg right_cam_topic)"/>
  </node>


</launch>
